{% extends "bootstrap/base.html" %}


{% block head %}
    {{ super() }}

{% endblock %}

<!-- for nav bar -->
{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/" style="margin:55px auto; text-align:left">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about" style="margin:55px auto; text-align:left">Search Area</a>
      </li>
	  <li class="nav-item">
        <a class="nav-link" href="/trends" style="margin:55px auto; text-align:left">Trends</a>
      </li>
	  <br>
	   
	  
	  


    </ul>
    <form class="form-inline my-2 my-lg-0">
 
        <a class="nav-link" color="blue" href="javascript:dc.filterAll();dc.renderAll();" style="margin:20px auto; text-align:left">Reset All</a>
      
    </form> 
  </div>
</nav>
{% endblock %}




{% block content %}
    <!-- <div class="container">
        {% block page_content %}{% endblock %}
    </div>
    <div class="mapcontainer">
      {% block map %}{% endblock %}
    </div> -->

{% endblock %}
